/*  RESET CSS  */
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
}

/*  CORPO */
body{
  font-family: 'Nunito', sans-serif;
  color: #1c1c1c;
}

html{
  scroll-behavior: smooth!important;
}

h1, h2,  h3{
  font-family: 'Asap', sans-serif;
  color: #1c1c1c;
}

.botao{
  color: white;
  padding: 10px 30px;
  background-color: #191970;
  font-size: 1rem;
  border-radius: 3px;
}

/*  NAV */
nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #191970;
  
}

nav > a{
  color: white;
  font-weight: 800;
  font-size: 2rem;
  font-family: 'Yellowtail', sans-serif;
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style:none;
  width: 100%;
}

nav ul li{
  width: 100%;
  text-align: center;
}

nav ul li a{
  font-family: 'Nunito', sans-serif;
  display: inline-block;
  padding: 10px 0;
  width: 100%;
  color: white;
  transition-duration: 0.5s;
}

nav ul li a:hover{
  text-decoration: underline;
}

/*  HEADER  */
header{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../imgs/camera.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  text-align: center;
  padding: 20px;
}

header h1{
  color: white;
}

header p{
  margin-bottom: 2rem;
}

header a.botao{
  transition-duration: 0.6s;
}

header a:hover{
  background-color: white;
  color: #1c1c1c;
}

#sobre{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px 10px 20px 20px;
  background-color: #191970;
  color: white;
}

#sobre h2{
  color: white;
}

#sobre p{
  margin-bottom: 2.5rem;
  max-width: 1000px;
}

#sobre .botao{
  background-color:#f1f1f1;
  color:#1c1c1c;
  font-size: 1em;
  transition-duration: 0.5s;
}

#sobre .botao:hover{
  background-color: #1c1c1c;
  color: #f1f1f1;
}

/*  SERVICES  */

#servicos{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

#servicos div{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  max-width: 100%;
}

/*  FOTOS */

#fotos{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

#fotos h2{
  margin-top: 20px;
}

#fotos img{
  width: 100%;
}

/*  CONTATOS  */
  #contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }

  #contato h2{
    color: black;
  }

  /*  FOOTER  */

  footer{
    text-align: center;
    padding: 10px;
    background-color: #191970;
    color: whitesmoke;
  }

  footer a{
    color: #00ffff;
  }

  footer a:hover{
    text-decoration: underline;
  }

  footer p{
    margin-top:10px ;
  }

  abbr{
    text-decoration: none!important;
  }

  /*  RESPONSIVIDADE  */
  @media screen and (min-width: 768px){
    /*nav*/
    nav{
      flex-direction: row;
      justify-content: space-around;
    }

    nav ul{
      flex-direction: row;
      width: 70%;
    }

    /*  HEADER  */
      header{
        height: 600px;
        height: 60vh;
        justify-content: center;
      }

      /*  ABOUT */
      #sobre{
        height: 250px;
        height: 30vh;
        justify-content: center;
        min-height: 250px;
      }

      /*SERVIÇOS*/
      #servicos{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1000px;
        margin:0 auto ;
      }

      #servicos h2{
        text-align: center;
        width: 100%;
      }

      #servicos div{
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0 10px;
      }

      #fotos{
        flex-direction: row;
        flex-wrap: wrap;
      }

      #fotos h2{
        width: 100%;
        text-align: center;
      }

      #fotos img{
        width: 33.333%;
      }

      #contato{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 500px;
        margin: 0 auto;
      }

      #contato h2, #contato p{
        width: 100%;
      }
  }